
body {
  margin:0;
  background: #F9DCE3;
  font-family: 'Work Sans', sans-serif;
  font-weight:400;
}

.container {
  width: 80%;
  margin: 0 auto;

}
header {
  background-color: #F9AAAA;
}
header ::after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  float: left;
  margin-right: 0px;
}
.logo:hover {
  opacity: .3;
}
nav {
  float: right;
}
nav ul {
  margin:0;
  padding:0;
  color:
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 32.5px;

  position:relative;
}
nav a{
  color: #fff;
  text-decoration:none;
  text-transform: uppercase;
}
nav a:hover {
  color: #BEBBBB;
}
nav a::before {
  content: '';
  display:block;
  height:5px;
  width: 100%;
  background-color: #F08080;
  position: absolute;
  top:0;
  width:0%;
  transition: all ease-in 250ms;
}

nav a:hover::before {
  width:100%;
}
#Profile {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

#Profile img {
  width: 50%;
  height: 100%;
  display:flex;
  flex-direction: column;
}
.home{
  background-color: #F9DCE3;
  display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
  padding: 100px;
}
#typingtextid{
  max-width: 50%;
}
#titleText{
  max-width: 50%;
}
