body {
  margin:0;
  background: #000;
  font-family: 'Work Sans', sans-serif;
  font-weight:400;
}

.container {
  width: 80%;
  margin: 0 auto;

}
header {
  background: #1F2833;
}
header ::after {
  content: '';
  display: table;
  clear: both;
}
.logo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  margin:0;
  padding:0;
  color:
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 100px;
  padding-top: 32.5px;

  position:relative;
}
nav a{
  color: #45A29E;
  text-decoration:none;
  text-transform: uppercase;
}
nav a:hover {
  color: #000;
}
nav a::before {
  content: '';
  display:block;
  height:5px;
  width: 100%;
  background-color: #66FCF1;
  position: absolute;
  top:0;
  width:0%;
  transition: all ease-in 250ms
}

nav a:hover::before {
  width:100%;
}
